<%= form_tag my_harvests_path, :method => 'get', id:'search-form' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Search my harvests" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%  @my_harvests.each do |harvest| %>

  <h2><%= link_to harvest.produce_type + " - " + harvest.city, harvest_path(harvest) %></h2>
  <%= image_tag harvest.image_url(:thumb).to_s if harvest.image? %>


<% end %>