<h2>Edit</h2>

<%= form_for @harvest do |f| %>
  <h2>Location Of Your Plant</h2>
  Note: Click the ALLOW button to let the browser find your location.<br>
  <div class="geo-container">
    <a href="#">Location Lookup</a>
    <!--<h2 class="color">hi</h2>-->
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  </div>


  <section id="wrapper">
    <article>
    </article>
  </section>



  <h2>Produce Type</h2>
  <p>
    <%= f.label :produce_type %><br />
    <%= f.text_field :produce_type %>
  </p>
  <h2>Image</h2>
  <p>
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <br />
  <p><%= f.submit %></p>
<% end %>
